name: Zero downtime deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t cicd2-web-app .

      - name: Free green slot (port 8082)
        run: |
          docker rm -f web-green || true
          docker ps --filter "publish=8082" -q | xargs -r docker rm -f

      - name: Run new container on green port
        run: |
          docker run -d --name web-green -p 8082:80 cicd2-web-app:latest

      - name: Health check new container
        run: |
          sleep 5
          curl -f http://localhost:8082/health

      - name: Switch traffic to green
        run: |
          sudo sed -i 's/8081/8082/' /etc/nginx/sites-available/default
          sudo nginx -t
          sudo systemctl reload nginx

      - name: Stop old blue conatiner
        run: |
          docker rm -f web-blue || true

      - name: Rename green to blue
        run: |
          docker rename web-green web-blue
      
