name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t cicd2-web-app .

      - name: Run new container (candidate)
        run: |
          docker rm -f web-new || true
          docker run -d --name web-new -p 8080:80 cicd2-web-app:latest

      - name: Health check new container
        run: |
          sleep 5
          curl -f http://localhost:8080

      - name: Remove existing production conatiner
        run: |
          docker rm -f web-current || true
          sleep 2

      - name: Stop old conatiner (free port 80)
        run: |
          docker ps --filter "publish=80" -q | xargs -r docker rm -f
          sleep 2

      - name: Start new conatiner on port 80
        run: |
          docker run -d --name web-current -p 80:80 cicd2-web-app:latest

      - name: Cleanup
        run: |
          docker rm -f web-new || true
      
